<h2 class="animate__animated animate__fadeIn">By country</h2>
<hr/>

<div class="row">
    <div class="col">
        <app-country-input 
        placeholder="Search by country"
        (onEnter)="search( $event )"
        (onDebounce)="suggestions( $event )"
        >
    </app-country-input>
    </div>
</div>
<hr/>

<ul 
    *ngIf="showSuggestions"
    class="list-group">
    <li 
        *ngFor="let country of suggestedCountries"
        class="list-group-item list-group-item-action">
        <a 
            class="nav-link"
            [routerLink]="['country/', country.cca3]"
            >
            {{country.name.common}}
        </a>
        
    </li>
    <li 
        class="list-group-item list-group-item-action">
        <a 
            (click)="searchSuggestions(term)"
            class="nav-link"
            >
            Search "{{term}}"
        </a>
        
    </li>
</ul>

<div *ngIf="isError" class="alert alert-danger">
    No country found with the search term: <strong> {{term}} </strong>
</div>

<div class="row" *ngIf="countries.length > 0">
    <div class="col">
        <app-country-table [countries]="countries"></app-country-table>
    </div>
</div>